* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-banner {
    display: none;
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info h3 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 33px;
    color: #111;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-homepg {
    width: 100%;
}

@media only screen  and (min-width: 768px) {
    .img-banner {
        display: block;
        max-height: 500px;
        height:50%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: 50% -100px;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 0px 0px;
    }
    
    .img-info h3 {
        padding: 20px 0px 0px;
    }
    
    .img-info p {
        padding: 20px 0px 0px;
    }

    .img-homepg {
        padding-top: 30px;
    }
}

@media only screen  and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }

    .img-info {
        width: 50%;
        float: right;
    }

    .img-homepg {
        padding-top: 0px;
        width: 50%;
        float: left;
    }

    .img-info h2 {
        padding: 20px 0px 0px 30px;
    }
    
    .img-info h3 {
        padding: 20px 0px 0px 30px;
    }
    
    .img-info p {
        padding: 20px 0px 0px 30px;
    }
}